@import "./guide.scss";

.InsideHero {
  text-align: center;
  color: white;
  font-size: 2rem;
  min-width: 200px;
  font-style: normal;
  background-color: $EnergyGreen;
  background-size: cover;
  // background-image: linear-gradient(to bottom, $EnergyGreen, $Green);
  @media (max-width: 800px) {
    min-height: 15rem !important;
  }

  &__Content {
    @include centerMe;
    position: relative;
    z-index: 10;

    .InsideHero__Text {
      max-width: 900px;
      margin: auto;
      margin: 3rem auto;
      @media (max-width: 800px) {
        margin: 1rem auto;
      }

      > h1 {
        font-size: 3.5rem;
        padding: 1rem;
        color: white !important;
        font-weight: 100;

        @media (max-width: 800px) {
          font-size: 2.5rem;
        }
      }

      > h6 {
        font-size: 1.6rem;
        font-weight: 100;
        @media (max-width: 800px) {
          font-size: 1.2rem;
        }
      }
    }

    .donationButton {
      @include bigButton;
      background: linear-gradient($EnergyGreen, #63a711);
      color: white;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    .learnButton {
      @include bigButton;
      background: linear-gradient(rgb(224, 224, 224), rgb(255, 255, 255));
      color: rgb(122, 122, 122);
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
