@import "./guide.scss";

.InsideHero {
  text-align: center;
  min-height: 25rem;
  color: white;
  font-size: 2rem;
  min-width: 200px;
  font-weight: normal;
  font-style: normal;
  background-color: #2fae5f;
  background-size: cover;
  // background-image: linear-gradient(to bottom, $EnergyGreen, $Green);

  &__Content {
    @include centerMe;
    position: relative;
    z-index: 10;

    .InsideHero__Text {
      max-width: 900px;
      margin: auto;

      margin: 2rem auto;

      > h1 {
        font-size: 3.5rem;
        padding: 1rem;
        color: white !important;
        font-weight: 100;

        @media (max-width: 800px) {
          font-size: 3rem;
        }
        @media (max-width: 550px) {
          font-size: 2rem;
        }
      }

      > h4 {
        font-size: 1.6rem;
        font-weight: 100;
        @media (max-width: 800px) {
          font-size: 2rem;
        }
        @media (max-width: 550px) {
          font-size: 1rem;
        }
      }
    }

    .donationButton {
      @include bigButton;
      background: linear-gradient($EnergyGreen, #63a711);
      color: white;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    .learnButton {
      @include bigButton;
      background: linear-gradient(rgb(224, 224, 224), rgb(255, 255, 255));
      color: rgb(122, 122, 122);
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// contact page

.info {
  display: flex;
  justify-content: space-between;
}

.contact {
  h1 {
    color: $EnergyGreen;
    font-size: 1.6rem;
  }
}

.map {
  background-color: red;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
